<h2>Film Genres</h2>
<div>
<%= link_to "Add a new Genre", new_genre_path%>
</div>

<% @genres.each do |genre|%>
  <div>
    <%= link_to genre.name , genre%>
  </div>
  
<% end %>
<div>
  <a href="/">Back Home</a>
</div>
