<h2><%= @genre.name%></h2>

<h3>List of films in the <%= @genre.name%> genre</h3>

<%@films.each do |film|%>
  <div>
    <%= link_to film.title, film_path%>
  </div>
<%end%>

<div>
  <%=link_to "Edit this genre", edit_genre_path %>
</div>

<a href="/">Back Home</a>