<h2>Directors</h2>
<div>
  <%= link_to "Add a new Director", new_director_path%>
</div>


<% @directors.each do |director|%>
  <div>
    <%= link_to director.name, director%>
  </div>
<% end %>
<div>
  <a href="/">Back Home</a>
</div>
